.page-header {
    font-size: 37px;
    font-weight: 500;
}

.content-header {
    color: #378DB2;
    font-weight: bold;
   }

body {
    position: absolute;
    margin-left:147px;
    margin-right:220px;
    background-color: #FEEED6;
    font-family: sans-serif;
    color: #676565;
    font-size: 21px;
}

.paragraph{
    text-indent: 1em;
}

.price {
    text-decoration: line-through;
}
